<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container">
    <H1 class="hed"> Welcome To Railways </H1>
    <div class="title">Register Here!</div>
    <div class="content">
  <form action="/rms/trainDetails" method = "post">
<div class="user-details">
          <div class="input-box">
            <span class="details">Train Number</span>
            <input type="text" placeholder="Enter your name" name="trainNumber" required>
          </div>
          <div class="input-box">
            <span class="details">Train Name</span>
            <input type="text" placeholder="Enter your email" name="trainName" required>
          </div>
          <div class="input-box">
            <span class="details">Boarding Station</span>
            <input type="text" placeholder="Enter your number" name="trainBoardingStation" required>
          </div>
          <div class="input-box">
            <span class="details">Deboarding Station</span>
            <input type="text" placeholder="Enter your password" name="trainDeboardingStation" required>
          </div>
          <div class="input-box">
            <span class="details">Train Running Date</span>
            <input type="text" placeholder="Enter your DOB" name="trainRunningDate" required>
          </div>
           <div class="input-box">
            <span class="details">Arrival Time</span>
            <input type="text" placeholder="Enter your Address" name="trainArrivalTime" required>
          </div>
          <div class="input-box">
            <span class="details">Departure Time</span>
            <input type="text" placeholder="Enter your Address" name="trainDepartureTime" required>
          </div>
          <div class="input-box">
            <span class="details">No Of Seats</span>
            <input type="text" placeholder="Enter your Address" name="numberOfSeats" required>
          </div>
          <div class="input-box">
            <span class="details">Train Fare</span>
            <input type="text" placeholder="Enter your Address" name="trainFare" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Save">
        </div>
</form>
</body>
</html>